*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  position: relative;
  min-height: 100vh;
}
.navdiv{
  width: 100%;
  background-color: bisque;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px; 
}

.navdiv .navul{
  display: flex;
  list-style: none;
  /* background-color: #7c7c7c; */
  padding: 0;
  margin: 0 60px;
}
.navul li{
  margin-right:  60px;
  cursor: pointer;
  color: #4f4f4f;
}
.inputdiv{
  /* background-color: #7c7c7c; */
  padding: 10px;
  display: flex;
  gap: 20px;
  width: 500px;
}
.inputdiv input{
  padding: 10px 0px 10px 15px; ; 
  border: none;
  width: calc(100% - 150px);
  outline: none;
}
.inputdiv input::placeholder{
  font-size: 16px;
  color: #c3c3c3;
}
.inputdiv button{
  width: calc(100% - 350px);
  border: none;
  cursor: pointer;
}

.footerdiv{
  width: 100%;
  background-color: bisque;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.footerdiv .footerspan{
  /* background-color: #acacac; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 60px;
  padding: 10px;
}
.footerspan span{
  cursor: pointer;
  color: #4f4f4f;
}
.homediv{
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  padding: 0 60px;
}
.homediv h1{
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  text-decoration: underline;
}
.homediv .homep{
  margin: 0 60px;
  text-align: justify;
}
.homep::first-letter{
  text-transform: uppercase;
  color: red;
  font-size: 3rem;
  font-weight: 600;
}
.homediv .homepL{
  margin: 30px 60px;
}
.homediv .homepL a{
  text-decoration: none;
  color: red;
}
.profilediv{
  width: 100%;
  padding: 0 60px;
}
.profilediv h1{
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  text-decoration: underline;
  color: #211f1f;
}
.profilediv p{
  margin: 0 60px;
  text-align: justify;
}
.profilediv p::first-letter{
  text-transform: uppercase;
  color: red;
  font-size: 3rem;
  font-weight: 600;
}
.contactdiv{
  width: 100%;
  padding: 0 60px;
}
.contactdiv h1{
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  text-decoration: underline;
  color: #211f1f;
}
.contactdiv p{
  margin: 0 60px;
  text-align: justify;
}
.contactdiv p::first-letter{
  text-transform: uppercase;
  color: red;
  font-size: 3rem;
  font-weight: 600;
}

.aboutdiv{
  width: 100%;
  padding: 0 60px;
}
.aboutdiv h1{
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  text-decoration: underline;
  color: #211f1f;
}
.aboutdiv p{
  margin: 0 60px;
  text-align: justify;
}
.aboutdiv p::first-letter{
  text-transform: uppercase;
  color: red;
  font-size: 3rem;
  font-weight: 600;
}